.footer {
  height: 50px;
  background: linear-gradient(
    90deg,
    rgba(7, 104, 159, 1) 10%,
    rgb(162, 213, 242) 60%
  );
  /* margin-top: -50px;
  bottom: 0;
  left: 0;
  right: 0; */
}

.copyright {
  color: white;
  padding-top: 15px;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
}
